<div class="container py-5">
    <h1 class="p display-4 text-center mb-4">Labs</h1>
    <p class="p lead text-center mb-5">Explore our tools and applications</p>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">File Reader</h5>
                    <p class="card-text p">Easily read and process your files with our advanced File Reader tool.</p>
                    <a href="/Home/FileReader" class="btn btn-primary">Go to File Reader</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Chat Bot</h5>
                    <p class="card-text p">Ask any question!</p>
                    <a href="/Home/ChatBot" class="btn btn-primary">Go to Text to Speech</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Image Generation App</h5>
                    <p class="card-text p">Convert your text into images with our Image Generation application.</p>
                    <a href="Home/DalleChat" class="btn btn-primary">Go to Image Generator</a>
                </div>
            </div>
        </div>
    </div>
</div>